{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        .data{
            padding: 1%;
            width: 60%;
            font-size: 14px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RecMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{% static 'movies/assets/css/styles.min.css' %}">
</head>

<body >
    <div class="row" id="header">
            <div class="col text-center d-sm-flex justify-content-sm-center align-items-sm-center" style="padding: 2%;"><img src="{% static 'movies/assets/icon.png' %}" width="40%" height="100%"></div>
    </div>
    <div class="row" id="navbar">
        <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center" style="background-color: #007BFF;"><a class="text-white" href="#">Movies</a><a class="text-white" href="#" style="padding: 0px;margin-left: 4%;">Watched</a><a class="text-white" href="#" style="padding: 0px;margin-left: 4%;">Recommended</a><a class="text-white" href="#" style="margin-left: 4%;">Logout</a></div>
    </div>
    <div class="row" id="search_filter">
        <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="padding: 2%;"><input class="border rounded" type="text" placeholder="Search Movie"  style="width:65%;padding-left: 5px;" id="search" onkeyup="searchMovie(this.value.toUpperCase())">
            <select class="border rounded d-sm-flex" style="height: 30px;margin-left: 5%;width: 25%;"><option value="All" selected="">All</option><option value="Malayalam">Malayalam</option><option value="Tamil">Tamil</option></select></div>
    </div>
    <div class="row" id="movie_tbl">
        <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="padding: 2%;">
            <div class="table-responsive border rounded" style="width: 95%;">
                <table class="table table-hover">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody style="background-color: #ebe6e6;">
                        {% for ob in not_watched %}
                        <tr>
                            <td class="data">{{ ob.movie }} ({{ ob.year }})</td>
                            <td class="text-center" style="padding: 1%;"><a style="text-decoration: none;" href="https://www.google.co.in/search?q={{ ob.movie }} Malayalam Film" target="_blank"><i class="fas fa-search"></i></a></td>
                            <td style="padding: 1%;">
                                <form class="d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="width: 100%;" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ ob.id }}">
                                    <input class="border rounded form-control form-control-sm" type="number" style="width: 60%;height: 25px;font-size: 14px;" name="rate" min="1" max="10" step="0.1" placeholder="Rate">
                                    <button class="btn btn-primary btn-sm border rounded" type="submit" style="width: 30%;margin-left: 5%;padding: 0px;height: 25px;"><i class="fas fa-arrow-alt-circle-right"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center text-white" style="padding:1%;background-color: #007BFF;"><p><i class="fab fa-github" style="font-size: 20px"></i><br>MochaTek © 2020</p></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script>
        function searchMovie(input) {
              var movies, txtValue;
              movies = document.getElementsByClassName("data");
              for (i = 0; i < movies.length; i++) {
                txtValue = movies[i].textContent || movies[i].innerText;
                if (txtValue.toUpperCase().indexOf(input) > -1) {
                  movies[i].parentNode.style.display = "";
                } else {
                  movies[i].parentNode.style.display = "none";
                }
              }
            }
            </script>
</body>

</html>