{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        .data{
            padding: 1%;
            width: 70%;
            font-size: 14px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RecMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{% static 'movies/assets/css/styles.min.css' %}">
</head>

<body >
    <div class="row" id="header">
            <div class="col text-center d-sm-flex justify-content-sm-center align-items-sm-center"><img src="{% static 'movies/assets/icon.png' %}" width="40%" height="100%"></div>
    </div>
    <div class="row" id="navbar">
        <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center" style="background-color: #007BFF;"><a class="text-white" href="#">Movies</a><a class="text-white" href="{% url 'movies:watched' %}" style="padding: 0px;margin-left: 4%;">Watched</a><a class="text-white" href="#" style="padding: 0px;margin-left: 4%;">Recommended</a><a class="text-white" href="#" style="margin-left: 4%;">Logout</a></div>
    </div>
    <div class="row" id="search_filter">
        <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="padding: 2%;"><input class="border rounded" type="text" placeholder="Search Movie"  style="width:65%;padding-left: 5px;" id="search" onkeyup="searchMovie(this.value.toUpperCase())">
            <select class="border rounded d-sm-flex" style="height: 30px;margin-left: 5%;width: 25%;"><option value="All" selected="">All</option><option value="Malayalam">Malayalam</option><option value="Tamil">Tamil</option></select></div>
    </div>
    <div class="row" id="movie_tbl">
        <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="padding: 2%;">
            <div class="table-responsive border rounded" style="width: 95%;">
                <table class="table table-hover">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody style="background-color: #ebe6e6;">
                        {% if not watched %}
                        <tr><td align="center" style="color:red;background:pink">Rate movies you have watched in order to view Watch History</td></tr>
                        {% else %}
                        {% for ob in watched %}
                        <tr>
                            <td class="data">{{ ob.movie }}</td>
                            <td style="padding: 1%;">
                            <form class="d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="width: 100%;" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ ob.id }}">
                            <input class="border rounded form-control form-control-sm" type="number" style="width: 40%;height: 25px;font-size: 14px;" min="1" max="10" step="0.1" readonly id="rate" name="rate" placeholder="Rate" value='{{ ob.rating }}'>
                            <button class="btn btn-primary btn-sm border rounded" type="button"  name="edit" style="width: 20%;margin-left: 5%;padding: 0px;height: 25px;background-color: rgb(255,153,0);" onclick="changeIcon(this, this.parentNode)"><i class="fas fa-edit" ></i></button>
                            <button class="btn btn-primary btn-sm border rounded" type="submit" name="delete" value="delete" style="width: 20%;margin-left: 5%;padding: 0px;height: 25px;background-color: rgb(255,0,0);"><i class="fas fa-minus-circle"></i></button></form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #007BFF;height:10%">
            <div class="col text-center text-white" style="padding:0px;" ><p><i class="fab fa-github" style="font-size: 20px;padding:1%"></i><br>MochaTek © 2020</p></div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script>
        function searchMovie(input) {
              var movies, txtValue;
              movies = document.getElementsByClassName("data");
              for (i = 0; i < movies.length; i++) {
                txtValue = movies[i].textContent || movies[i].innerText;
                if (txtValue.toUpperCase().indexOf(input) > -1) {
                  movies[i].parentNode.style.display = "";
                } else {
                  movies[i].parentNode.style.display = "none";
                }
              }
            }
        function changeIcon(btn, form){
            ico = btn.getElementsByTagName("i")[0];
            rate = form.childNodes[5];
            if (ico.className == 'fas fa-edit'){
                rate.readOnly = false;
                ico.className = 'fas fa-save';
            }else{
                rate.readOnly = true;
                ico.className = 'fas fa-edit';
                form.submit();
            }
        }
            </script>
</body>

</html>