{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="https://img.icons8.com/material-rounded/48/000000/facebook-like.png">
    <style>
        .active{
            color:black;
        }
        th{
            font-size:14px;
            font-weight: bold;
            color:white;
            background-color: #007BFF;

        }
        .data{
            padding: 1%;
            width: 80%;
            font-size: 14px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RecMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{% static 'movies/assets/css/styles.min.css' %}">
</head>

<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <div class="row" id="header">
            <div class="col text-center d-sm-flex justify-content-sm-center align-items-sm-center"><img src="{% static 'movies/assets/app_icon.png' %}" width="40%" height="100%"></div>
    </div>
    <div class="row" id="navbar">
            <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center" style="background-color: #007BFF;padding:1%;font-weight: bold;font-size: 14px">
                <a class="text-white" href="{% url 'movies:index' %}">Movies</a>
                <a class="text-white" href="{% url 'movies:watched' %}" style="padding: 0px;margin-left: 4%;">Watched</a>
                <a class="active" href="{% url 'recommend:index' %}" style="padding: 0px;margin-left: 4%;">Recommended</a>
                <a class="text-white" href="{% url 'accounts:logout' %}" style="margin-left: 4%;">Logout</a></div>
        </div>
    <div class="row" id="search_filter">
        <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="padding: 2%;"><input class="border rounded" type="text" placeholder="Search Movie"  style="width:65%;padding-left: 5px;" id="search" onkeyup="searchMovie(this.value.toUpperCase())">
            <select class="border rounded d-sm-flex" style="height: 30px;margin-left: 5%;width: 25%;"><option value="All" selected="">All</option><option value="Malayalam">Malayalam</option><option value="Tamil">Tamil</option></select></div>
    </div>
    <div class="row" id="movie_tbl" >
        <div class="col d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="padding: 2%;">
            <div class="table-responsive border rounded" style="width: 95%;">
                <table class="table table-hover">
                        {% if not recommended %}
                        <thead>
                            <tr><td align="center" colspan="3" style="color:red;background:pink">Rate movies you have watched in order to get Recommendations</td></tr>
                        </thead>
                        {% else %}
                        <thead>
                            <tr><th>MOVIE (YEAR)</th><th>INFO</th><th>EXPECTED</th></tr>
                        </thead>
                        <tbody style="background-color: #ebe6e6;">
                        {% for ob in recommended %}
                        <tr>
                            <td class="data">{{ ob.movie__movie }} ({{ ob.movie__year }})</td>
                            <td class="text-center" style="padding: 1%;"><a style="text-decoration: none;" href="https://www.google.co.in/search?q={{ ob.movie__movie }} Malayalam Film" target="_blank"><i class="fas fa-search"></i></a></td>
                            <td style="padding: 1%;" align="center"><label class="text-center text-black border rounded-circle border-danger" style="height:33%;width:33%;font-weight:bold;padding:2%;font-size: 14px;background:yellow">{{ ob.strength }}</label></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #007BFF;height:10%;">
            <div class="col text-center text-white" style="padding:0px;" ><p><i class="fab fa-github" style="font-size: 20px;padding:1%"></i><br>MochaTek © 2020</p></div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script>
        function searchMovie(input) {
              var movies, txtValue;
              movies = document.getElementsByClassName("data");
              for (i = 0; i < movies.length; i++) {
                txtValue = movies[i].textContent || movies[i].innerText;
                if (txtValue.toUpperCase().indexOf(input) > -1) {
                  movies[i].parentNode.style.display = "";
                } else {
                  movies[i].parentNode.style.display = "none";
                }
              }
            }
            </script>
</body>

</html>